html{
    font-size: 62.5%;
}
h1{
    font-size: 2.4em;
}
p, a{
    font-size: 1.6em; /*1em = 10px*/
}
body{
    width: 90%;
    max-width: 1100px;
    margin: 0 auto; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header{
    display: flex;
    padding: 16px;
    justify-content: space-between;
    align-items: center;
}
.header__nav ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    gap: 16px;
}
.header__nav a{
    text-decoration: none;
    color: black;
}
.header__logo{
    font-size: 3.6em;
    text-transform: uppercase;
    font-weight: 700;
}
.main{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 24px;
}
.action{
    display: flex;
    flex-direction: column;
    max-width: min-content;
}
.main__left {
    display: flex;
    flex-direction: row;
    gap: 24px;
    margin-top: 14px;
}
.main__text{
    
}
.main__text p{
}
.main__cta{
    text-decoration: none;
    text-transform: uppercase;
    color: #00001a;
    font-size: 1.2em;
    font-weight: bold;
    letter-spacing: 2px;
    background-color: #f15d51;
    padding: 10px 24px;
    width: fit-content;
    max-width: 100%;
    box-sizing: content-box;

}
.main__left h1{
    margin: 10px 0;
    font-weight: bold;
    line-height: 95%;
    font-size: 5em;
}
.news{
    background-color: #00001a;
}
.news__list{
    padding: 0 24px;
    margin: 0;
}
.news h1{
    color: #e8ae4d;
    font-size: 4em;
    margin: 0;
    margin-top: 10px;
}
.news__item{
    color: aliceblue;
    padding: 10px 0 10px 0;
    border-bottom: 1px solid aliceblue;
}
.news__item:last-child{
    border: none;
}
.news__item h2{
    font-size: 1.9em;
}
.news__item p{
    font-size: 1.4em;
}
/* .main__text {
margin-left: 100px;
} */


